.app {
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  display: grid;
  height: 100vh;
}
.bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}
.p-3 {
  padding: 0.75rem;
}
.border-b {
  border-bottom-width: 1px;
}
a {
  cursor: pointer;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity));
  text-decoration: none;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}
.rounded {
  border-radius: 0.25rem;
}
.bg-danger-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 229 212 / var(--tw-bg-opacity));
}
.bg-primary-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(213 0 14 / var(--tw-bg-opacity));
}

.bg-warning-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 236 155 / var(--tw-bg-opacity));
}

.bg-success-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(166 249 172 / var(--tw-bg-opacity));
}
.bg-success-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}

.bg-secondary-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 204 0 / var(--tw-bg-opacity));
}
.bg-red-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity))
}

.bg-yellow-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 249 195 / var(--tw-bg-opacity))
}

.bg-green-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 252 231 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}

.bg-secondary-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 249 204 / var(--tw-bg-opacity))
}

.bg-primary-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 222 203 / var(--tw-bg-opacity))
}

.bg-grey-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(244 244 248 / var(--tw-bg-opacity))
}
.bg-success-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(211 252 210 / var(--tw-bg-opacity))
}

.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}
.bg-info-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(215 236 254 / var(--tw-bg-opacity));
}
.flex-col {
  flex-direction: column;
}
.w-1\/4 {
  width: 25%;
}
.w-60 {
  width: 15rem;
}
.h-full {
  height: 100%;
}
.flex {
  display: flex;
}
.p-4 {
  padding: 1rem;
}
h3{
  margin: 0px;
}
.h-screen {
  height: 100vh;
}
*,:before,:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb
}
.space-x-3>:not([hidden])~:not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}
.wd-10{
  width:10%;
}
.p-5 {
  padding: 1.25rem;
}

.w-full {
  width: 100%;
}

.block {
  display: block;
}
.button__label {
  flex: 1 1 auto;
}
.button__label {
  font-size: 15px;
  line-height: 1.75rem;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 1024px){
  .lg\:p-4 {
      padding: 1rem;
  }
  .table-admin th {
      font-size: .875rem;
      line-height: 1.25rem;
  }
}
.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
.table {
  display: table;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
.table-admin tr:first-child {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.table-admin tr {
  cursor: default;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
.table-admin th {
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.table-admin th, .table-admin td {
  padding: 0.75rem 1rem;
}
.text-left {
  text-align: left;
}
.table-admin tr+tr {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.h-12 {
  height: 3rem !important;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.font-bold {
  font-weight: 700;
}
.border-r {
  border-right-width: 1px;
}
.button-lg{
  height: 2.75rem;
  font-size: .875rem;
  line-height: 1.25rem;

}
.justify-between {
  justify-content: space-between;
}
.justify-end{
  justify-content: end;

}
.button--primary.button--solid {
  --tw-bg-opacity: 1;
  background-color: rgb(248 4 0 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.button__icon {
  width: 24px!important;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  position: relative;
  display: inline-flex;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  justify-content: center;
}
.h-10 {
  height: 2.5rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.bg-danger-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 60 42 / var(--tw-bg-opacity));
}
.slideover--right {
  right: 0px;
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.slideover {
  width: 200px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  z-index: 50;
  display: flex;
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  flex-direction: column;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}
.slideover--right.slideover--open {
  box-shadow: -30px 0 30px #0000001a;
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.field__input {
  margin-top: 0.25rem;
}

.input.input--lg.bg-gray-200.rounded-md {
  height: 2.75rem;
  font-size: .875rem;
  line-height: 1.25rem;
}

.input--lg>.select {
  padding-left: 0.75rem;
}

.select, .textbox {
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.select {
  z-index: 10;
  height: 100%;
  width: 100%;
  flex-shrink: 1;
  flex-grow: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}

.select {
  background-size: auto 70%;
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M7.41%208.58L12%2013.17l4.59-4.59L18%2010l-6%206l-6-6l1.41-1.42z%22%20fill%3D%22black%22%20fill-opacity%3D%220.4%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E);
}

.button--danger-light {
  background-color: #fef2f2!important;
  color: #b91c1c!important;
}
.button--danger-light .button__icon {
  width: 20px!important;
  height: 20px!important;
}